{% assign using_link_list = false %}
{% if collection-listing != '' and linklists[collection-listing].handle == collection-listing and linklists[collection-listing].links.size > 0 %}
  {% assign using_link_list = true %}
{% endif %}
<h1>{% if using_link_list %}{{ linklists[collection-listing].title }}{% else %}Collections{% endif %}</h1>
<ul class="grid clearfix">
{% if using_link_list %}
{% for link in linklists[collection-listing].links %}
  {% if link.type == 'collection_link' %}
  {% assign collection = link.object %}
  {% include 'collection-grid-item' with 'three-per-row' %}
  {% endif %}
{% endfor %}
{% else %}
{% for collection in collections %}
  {% unless collection.handle == 'all' or collection.handle == 'frontpage' %}
  {% include 'collection-grid-item' with 'three-per-row' %}
  {% endunless %}
{% endfor %}
{% endif %}
</ul>