<label class="switch-light switch-candy" onclick="toggleLoginRegister();">
  <input type="checkbox" id="islogin">
  <span>
    <span>Existing Customer</span>
    <span>New Customer</span>
  </span>
  <a></a>
</label>