{% layout settings.customer_layout %}
<article id="template" class="container clearfix">
  {% include 'breadcrumb' %}
  <section class="first">
    <h2>Reset</h2>
    <p class="note">Enter a new password for {{ email }}</p>
    {% form 'reset_customer_password' %}
      <p>{{ form.errors | default_errors }}</p>
      <div id="password" class="clearfix large_form">
        <label class="hidden" for="password">Password</label>
        <input type="password" placeholder="Password" value="" name="customer[password]" id="customer_password" class="large password">
      </div>
      <div id="password_confirm" class="clearfix large_form">
        <label class="hidden" for="password_confirmation">Password Confirmation</label>
        <input type="password" placeholder="Password Confirmation" value="" name="customer[password_confirmation]" id="customer_password_confirmation" class="large password">
      </div>
      <div class="action_bottom">
        <input class="wowsome" type="submit" value="Reset Password">
      </div>
    {% endform %}
  </section>
</article>
