<div id="full-width">

<div id="dialog">
  <h1><span>404 </span>Page Not Found</h1>
  
  <div class="block">
    <p>The page you were looking for does not exist.</p>
  </div>
  
  <div class="block actions">
    <p>Back to <a href="{{ shop.url }}">{{ shop.name }}</a></p>
  </div>
  
</div>

</div>
